/* Write your CSS here */
.home-main {
  height: 100vw;
}
.home-content {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-logo {
  width: 150px;
}
